<!DOCTYPE html>

<html>
<head>

<!--Below is the import for the css file.-->

<link rel="”stylesheet”" type=”text/css” href=“./diversifriends.css”/>

</head>
<body>

<!--Below is the import for jquery.-->

 <script src="./script.js"></script>



	<h1>DiversiFriend</h1>
	<h2>Log In</h2>
	
	<form>User Name:</form>
	<input type="text", name="Username:"> 
	</input>

	<br>
	<form>Password:</form>
	<input type="Password", name="Username:"> 
	</input>
	<br>
	<button><a href="home.html">Go!</a></button>
	<br>
	<br>
	<P>Don't have an account?</P>
	<button>Sign Up Now!</button>

</body>

</html>
