<!DOCTYPE html>

<html>
<head>

<!--Below is the import for the css file.-->

<link rel="”stylesheet”" type=”text/css” href=“./diversifriends.css”/>

</head>
<body>

<!--Below is the import for jquery.-->

 <script src="./script.js"></script>


 	<div><font size="35"><center><b>DiversiFriends</b></center></font></div>

 	<div><h1><big><b><center>Meet people with a different political view!</center></b></big></div>
 	<hr>

	<h1><big><b><u>Log In:</u></b></big></h1>
	
	<form><h2><big><b>User Name:</b></big></h2></form>
	<input type="text", name="Username:"> 
	</input>

	<br>

	<form><h2><big><b>Password:</b></big></h2></form>
	<input type="Password", name="Username:"> 
	</input>
	<br>
	<br>
	<a href="index"><img border="0" src="http://i.imgur.com/un6ynBF.png" width="40%"></a>
	

	<br>
	<br>
	<hr>

	<button>Don't have an account?</button>
	<button>Sign Up Now!</button>

</body>

</html>
